---
layout: default
title: Home
---
<body>
  <div class="tags-expo">
    <div class="tags-expo-list">
      {% for tag in site.categories %}
      <a href="#{{ tag[0] | slugify }}" class="post-tag fa-bars">{{ tag[0] }}</a>
      {% endfor %}
	</div>
	
    <hr/>

    <div class="tags-expo-section recently">
      <a href="/blog/"><h4 id="shortcut">
        <img id="shortcut-img" src="/assets/images/shortcut.png">
        <span>최근 글 바로가기</span>
      </h4></a>
      <ul class="tags-expo-posts">
        {% for post in site.posts offset: 0 limit: 10  %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
          <li>
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </li>
        </a>
        {% endfor %}
      </ul>
	</div>
	
    <div class="tags-expo-section">
      {% for tag in site.categories %}
      <h2 id="{{ tag[0] | slugify }}">
        <a class="category-title" data-test="{{ tag[0] }}, {{ sub_nav[0] }} {{sub_nav[1]}}">
          {{ tag[0] }}
          <i class="fa fa-angle-up fa-lg"></i>
        </a>
      </h2>
      <ul class="tags-expo-posts">
        {% for post in tag[1] %}
        <li>
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small class="post-date">{{ post.date | date_to_string }}</small>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>

  <!-- 카테고리 글 숨김, 표시 전환 코드 -->
  <script type="text/javascript">

  $(".tags-expo-section h2").click(function(){
    //열렸을때
    if ($(this).next('.tags-expo-posts').css('display') === 'block'){
      $(this).next('.tags-expo-posts').slideUp();
      $(this).children('.category-title').css({
        "color": "#D9A404",
        "font-weight" : "700"
      });
	  $(this).children('.fa').css({"transform": "rotate(180deg)"})
    }else{
     //닫았을때
      $(this).next('.tags-expo-posts').slideDown();
      $(this).children('.category-title').css({
        "color" : "#8C5946",
        "font-weight" : "900"
      });
      $(this).children('.fa').css({"transform": "rotate(0deg)"})
    }
  });

  </script>
</body>
