/* Colors
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */
$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #1b6ec4;
$magenta: #aa759f;
$brown: #8f5536;
$default: #505050;

$white: #fff;
$lightgrey: #eee;
$black: #000;

$theme-color: $brown;
$theme-color-dark: darken($theme-color, 10%);

$post-date-color: #9a9a9a;
$title-color: #343a40;
$masthead-title-small-color: #c0c0c0;

/* Layout */
$reverse-layout: true;
$overlay-sidebar: false;

@font-face {
  font-family: "NanumSquareL";
  src: url(./font/NanumSquareL.ttf) format("woff2"),
    url(./font/NanumSquareL.woff) format("woff"),
    url(./font/NanumSquareL.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquareR";
  src: url(./font/NanumSquareR.woff2) format("woff2"),
    url(./font/NanumSquareR.woff) format("woff"),
    url(./font/NanumSquareR.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquareB";
  src: url(./font/NanumSquareB.woff2) format("woff2"),
    url(./font/NanumSquareB.woff) format("woff"),
    url(./font/NanumSquareB.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquareEB";
  src: url(./font/NanumSquareEB.woff2) format("woff2"),
    url(./font/NanumSquareEB.woff) format("woff"),
    url(./font/NanumSquareEB.ttf) format("truetype");
}

/* Font stack */
$font-serif: "PT Serif", Georgia, "Times New Roman", serif;
$font-sans: "NanumSquareR", "Source Sans Pro", Apple SD Gothic Neo,
  Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
$font-font-awesome: FontAwesome;
