.page {
  margin-bottom: 4em;
  font-size: 0.9rem;
  .page-title {
    color: $theme-color;
    margin-top: 0;
    text-transform: uppercase;
  }
}

.page h2,
.tags-expo-section h2
{
  font-size:1.2rem;
  font-weight: 700;
  color : #8C5946;
  a{
    color : #8C5946;
  }
}

.tags-expo-section ul{
  font-size: 0.9rem;
}


#results-container{
  margin-top: 1rem;
  padding-left: 1rem;
}

#results-container > li{
  margin-bottom: 0.5rem;
}

// main recent
.category-title{
  cursor: pointer;
}
.category-title:hover > h2{
  text-decoration: underline;
}
.tags-expo-posts{
  display: block;
}

/* recent icon */
#shortcut{
  font-size: 1.1rem;
  color: rgba(49, 49, 49, 0.82);
  overflow: hidden;
  span{
    display: inline-block;
    padding-top: 5px;
  }
}

#shortcut-img{
  width : 34px;
  float: left;
  margin-right : 9px;
  vertical-align : -webkit-baseline-middle;
  margin:0 0.5rem 0.7rem 0;
}