@include selection {
  background: $theme-color;
  color: $white;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: 'NanumSquare', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
  // font-family: "PT Sans",Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: 500;
  color: $title-color;
  letter-spacing: -.025rem;
}

// code {
//   color: #666;
// }

figcaption{
  font-weight: bold !important;
  font-size: 0.7rem;
}

@font-face{
	font-family:'NanumSquareL';
	src:url(/_scss/font/NanumSquareL.ttf) format('woff2'),
		url(/_scss/font/NanumSquareL.woff) format('woff'),
		url(/_scss/font/NanumSquareL.ttf) format('truetype');
}
@font-face{
	font-family:'NanumSquareR';
	src:url(/_scss/font/NanumSquareR.woff2) format('woff2'),
		url(/_scss/font/NanumSquareR.woff) format('woff'),
		url(/_scss/font/NanumSquareR.ttf) format('truetype');
}
@font-face{
	font-family:'NanumSquareB';
	src:url(/_scss/font/NanumSquareB.woff2) format('woff2'),
		url(/_scss/font/NanumSquareB.woff) format('woff'),
		url(/_scss/font/NanumSquareB.ttf) format('truetype');
}
@font-face{
	font-family:'NanumSquareEB';
	src:url(/_scss/font/NanumSquareEB.woff2) format('woff2'),
		url(/_scss/font/NanumSquareEB.woff) format('woff'),
		url(/_scss/font/NanumSquareEB.ttf) format('truetype');
}